{% extends '/espace-client/layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    
    <a class="btn btn-light" href="{{ path('user_home') }}">Mon espace</a>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="text_align_right"> 
        <h2>Attention, supprimer son compte est une action irrevérsible.</h2>
        {{ include('user/_delete_form.html.twig') }}
    </div>
    
{% endblock %}
