{% extends '/espace-client/layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modification de votre compte, {{ user.prenom }} : </h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_home') }}">Revenir à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
