{% extends 'base.html.twig' %}

{% block title %}Mon espace client{% endblock %}


{% block navbar_links %}
    <li><a class="nav-link active" href="{{ path('index')}}">Home</a></li>
    <li><a class="nav-link active" href="{{ path('user_show', {'id': user.getId()}) }}">Mes informations</a></li>
    <li><a class="nav-link active" href="{{ path('user_souscriptions', {'id': user.id}) }}">Mes souscriptions</a></li>
    <li><a class="nav-link active" href="{{ path('user_edit', {'id': user.getId()}) }}">Modifier mes informations</a></li>
{% endblock %}

{% block layout %}

    <!-- Start header -->
    <div class="section first">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}