{% extends '/espace-client/layout.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block layout %}
    <div class="row">
        <div class="col-md-12">
            <div class="full">
                <div class="heading_main text_align_center">
                    <h2><span class="theme_color text-align-center"></span>Mes souscriptions</h2>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
        {% for user in souscription %}
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="full news_blog">
                    
                    <img class="img-responsive" src="{{ asset('images/b1.png') }}" alt="#" />
                    <div class="overlay"><a class="main_bt transparent" href="{{ path('offer_index') }}">View</a></div>
                    <div class="blog_details">
                        <p>Informations sur cette souscription :</p>
                        
                        <div class=" text-danger">
                            {{ user.etat }}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="container">
                <div class="col-12">
                    <h3> Vous n'avez aucune souscription ! </h3>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
    <!-- Reste des éléments graphiques -->

{% endblock %}