{% extends '/public/layout.html.twig' %}

{% block title %}Demande de contact{% endblock %}

{% block body %}
    <h1>Demande de contact :</h1>

    {{ include('contact/_form.html.twig') }}
    
{% endblock %}
